@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: 'Pretendard';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
}

:root {
  body {
    font-family: Pretendard, serif;
  }

  --background: hsl(0, 0%, 100%);
  --foreground: hsl(224, 71.4%, 4.1%);
  --muted: hsl(220, 14.3%, 95.9%);
  --muted-foreground: hsl(220, 8.9%, 46.1%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(224, 71.4%, 4.1%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(224, 71.4%, 4.1%);
  --border: hsl(220, 13%, 91%);
  --input: hsl(220, 13%, 91%);
  --primary: hsl(230.85, 85.42%, 62.35%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(220, 14.3%, 95.9%);
  --secondary-foreground: hsl(220.9, 39.3%, 11%);
  --accent: hsl(220, 14.3%, 95.9%);
  --accent-foreground: hsl(220.9, 39.3%, 11%);
  --destructive: hsl(0, 64.76%, 58.82%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --ring: hsl(219.69, 85.71%, 56.08%);
  --chart-1: hsl(219.89, 70.2%, 50%);
  --chart-2: hsl(276.09, 82.61%, 68.43%);
  --chart-3: hsl(30, 80%, 54.9%);
  --chart-4: hsl(167.74, 54.58%, 49.22%);
  --chart-5: hsl(339.77, 74.78%, 54.9%);
  --radius: 0.5rem;
  --sidebar-background: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(240, 5.3%, 26.1%);
  --sidebar-primary: hsl(240, 5.9%, 10%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(240, 4.8%, 95.9%);
  --sidebar-accent-foreground: hsl(240, 5.9%, 10%);
  --sidebar-border: hsl(220, 13%, 91%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --sidebar: hsl(0 0% 98%);
}

.dark {
  --background: hsl(224, 71.4%, 4.1%);
  --foreground: hsl(210, 20%, 98%);
  --muted: hsl(215, 25.62%, 20.21%);
  --muted-foreground: hsl(217.9, 0%, 65.38%);
  --popover: hsl(224, 71.4%, 4.1%);
  --popover-foreground: hsl(210, 20%, 98%);
  --card: hsl(224, 71.4%, 4.1%);
  --card-foreground: hsl(210, 20%, 98%);
  --border: hsl(215, 27.9%, 16.9%);
  --input: hsl(215, 27.9%, 16.9%);
  --primary: hsl(230.94, 85.66%, 62.45%);
  --primary-foreground: hsl(210, 20%, 98%);
  --secondary: hsl(215, 43.85%, 28.34%);
  --secondary-foreground: hsl(210, 20%, 98%);
  --accent: hsl(215, 26.32%, 20.1%);
  --accent-foreground: hsl(210, 20%, 98%);
  --destructive: hsl(0, 64.53%, 58.8%);
  --destructive-foreground: hsl(210, 20%, 98%);
  --ring: hsl(219.62, 85.96%, 56.18%);
  --chart-1: hsl(220, 70%, 50%);
  --chart-2: hsl(276.23, 82.92%, 68.47%);
  --chart-3: hsl(30, 80%, 55%);
  --chart-4: hsl(167.55, 54.58%, 49.27%);
  --chart-5: hsl(340, 75%, 55%);
  --sidebar-background: hsl(240, 5.9%, 10%);
  --sidebar-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-primary: hsl(224.3, 76.3%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(240, 3.7%, 15.9%);
  --sidebar-accent-foreground: hsl(240, 4.8%, 95.9%);
  --sidebar-border: hsl(240, 3.7%, 15.9%);
  --sidebar-ring: hsl(217.2, 91.2%, 59.8%);
  --sidebar: hsl(240 5.9% 10%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
